@model List<UrlViewModel>
@{
}
<h1>All short URLs</h1>
<table class="table">
  <thead>
    <tr>      
      <th scope="col">Original Url</th>
      <th scope="col">Short Url</th>
    </tr>
  </thead>
  <tbody>
        @foreach(var url in Model)
        {
            <tr>              
              <td>@url.OriginalUrl</td>
              <td>@url.ShortUrl</td>
            </tr>    
        }
  </tbody>
</table>