@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Hi {username}!</h3>
    <p> Go to <a asp-area="" asp-controller="Url" asp-action="Add">Create Short Url</a> to shorten your URL.</p>
</div>
